* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

span {
  font-size: 1.2rem;
  font-weight: 700;
}

svg {
  color: white;
}

label {
  display: none;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: white;
  margin-top: 10px;
  margin-left: 5px;
}
@media (min-width: 1024px) {
  h1 {
    margin-left: 50px;
  }
}

p {
  color: grey;
}

.inicio {
  color: white;
  margin-left: 15px;
}
@media (min-width: 1024px) {
  .inicio {
    margin-left: 50px;
  }
}
.inicio h2 {
  font-weight: 700;
  text-shadow: 1px 1px 1px black;
  line-height: 2;
  margin-bottom: 20px;
}
.inicio .wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-info {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .container-info {
    flex-direction: row;
  }
}
.container-info img {
  width: 100%;
  object-fit: contain;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .container-info img {
    width: 90%;
  }
}
@media (min-width: 1024px) {
  .container-info img {
    width: 35%;
  }
}
.container-text {
  margin: 40px;
}
@media (min-width: 1024px) {
  .container-text {
    margin-left: 100px;
  }
}
.container-text h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8;
}

.box {
  background: rgb(52, 52, 52) radial-gradient(109.2% 2499.31% at 110.14% 35.05%, rgba(255, 35, 35, 0.15) 0%, rgba(17, 17, 17, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .box {
    height: 230px;
    flex-direction: row;
  }
  .box-price {
    display: flex;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .box {
    height: 230px;
    flex-direction: row;
  }
  .box-price {
    display: flex;
  }
}
.box-info h2 {
  color: #f9e806;
  font-weight: 800;
  font-size: 6rem;
  text-shadow: 0px 8px 15px rgb(97, 79, 57);
  text-align: center;
  margin-top: 40px;
}
@media (min-width: 1024px) {
  .box-info h2 {
    margin-left: 20px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .box-info h2 {
    font-size: 3.5rem;
    margin-left: 40px;
    margin-top: 60px;
  }
}
.box-info h3 {
  color: white;
  font-weight: 800;
  margin-left: 5px;
  margin-bottom: 20px;
  font-size: 1.9rem;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .box-info h3 {
    font-size: 1.3rem;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 30px;
  }
}
@media (min-width: 1024px) {
  .box-info h3 {
    margin-top: 65px;
    margin-left: 10px;
    font-size: 2.2rem;
  }
}
@media (min-width: 1024px) {
  .box-img {
    display: flex;
    justify-content: end;
  }
}
.box-img img {
  width: 300px;
  margin-bottom: 10px;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .box-img img {
    width: 230px;
    margin-right: 20px;
  }
}
@media (min-width: 1024px) {
  .box-img img {
    margin-left: 100px;
    margin-top: 10px;
  }
}

.venta-box {
  background-color: rgb(49, 49, 49);
  padding: 20px;
}
@media (min-width: 1024px) {
  .venta-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 20px;
  }
}
.venta-box h2 {
  color: #f9e806;
  font-weight: 800;
  font-size: 3rem;
  text-shadow: 0px 8px 15px rgb(97, 79, 57);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-title {
  text-align: center;
  margin-top: 20px;
}
.menu-title h2 {
  color: #f9e806;
  font-weight: 600;
  font-size: 2.5rem;
  text-shadow: 0px 1px 2px rgb(128, 102, 72);
}
.menu-title h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.contacto-box {
  background-color: rgb(49, 49, 49);
}
.contacto-box iframe {
  width: 100%;
  height: 500px;
}

header {
  background-image: url(../img/img-inicio.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 630px;
}

.navbar-nav a {
  color: white;
  margin-right: 40px;
  font-weight: 600;
}
.navbar-nav a:hover {
  color: #f9e806;
}

.container-fluid {
  position: absolute;
  top: 0;
}

@media (max-width: 1023px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.footer {
  background-color: rgb(49, 49, 49);
  color: white;
}
.footer h2 {
  text-align: center;
  padding: 10px;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .footer h2 {
    text-align: start;
  }
}
.footer h3 {
  font-weight: 700;
}
.footer h3,
.footer p {
  text-align: center;
}
.footer p {
  font-size: 0.8rem;
}
@media (min-width: 1024px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  .footer-row {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .footer-column {
    flex: 1;
    margin-right: 20px;
  }
  .footer-column h2 {
    margin-left: 20px;
    font-weight: 700;
  }
  .footer-column h3 {
    font-weight: 700;
  }
  .footer-column h3,
  .footer-column p {
    text-align: center;
  }
  .footer-column p {
    font-size: 0.8rem;
  }
  .footer .footer-column:last-child {
    margin-right: 0;
  }
}
.footer-subscribe {
  text-align: center;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .footer-subscribe {
    margin-top: 30px;
  }
}
.footer-subscribe .subscribe {
  margin-top: 10px;
  width: 140px;
  height: 35px;
  font-weight: 600;
  color: white;
  background-color: red;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}
.footer-subscribe input {
  width: 300px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.footer hr {
  color: rgb(109, 109, 109);
}
.footer-owner span {
  font-size: 1rem;
}
@media (min-width: 1024px) {
  .footer-owner {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
}
.footer .creator {
  color: #f9e806;
  font-weight: 700;
}

.whatsapp-float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  z-index: 100;
  display: block;
}
@media (min-width: 1024px) {
  .whatsapp-float {
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    font-size: 24px;
  }
}
.whatsapp-float svg {
  width: 35px;
  margin-top: 3px;
}
@media (min-width: 1024px) {
  .whatsapp-float svg {
    margin-top: 7px;
    width: 40px;
  }
}

.menu-card, .venta-box-card {
  width: 300px;
  height: 350px;
  text-align: center;
  overflow: hidden;
  background-color: #f1f3f3;
  border-radius: 45px;
  box-shadow: 0px 4px 15px -4px rgba(0, 0, 0, 0.28);
  padding: 8px 16px;
}
.menu-card h4, .venta-box-card h4 {
  font-size: 1.4rem;
  font-weight: 700;
}
.menu-card p, .venta-box-card p {
  font-size: 0.9rem;
  margin: 2px;
}
@media (min-width: 1024px) {
  .menu-card, .venta-box-card {
    border: 1px solid #ddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}
.menu-card img, .venta-box-card img {
  width: 100%;
  height: 190px;
  object-fit: contain;
  padding: 20px;
}
.menu-card .price, .venta-box-card .price {
  font-weight: 700;
  font-size: 1.1rem;
  color: #f00;
}

.venta-box-card {
  border-radius: 15px;
  margin: 16px;
  width: auto;
}

.button {
  width: 140px;
  height: 45px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(46, 46, 46);
  background-color: red;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
@media (min-width: 1024px) {
  .button:hover {
    background-color: #f9e806;
    box-shadow: 0px 15px 20px;
    transform: translateY(-5px);
  }
}

.container-info .button {
  width: 140px;
  height: 45px;
  font-weight: 600;
  color: white;
  background-color: red;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  outline: none;
}

.box-button button {
  margin-left: 5px;
  margin-bottom: 30px;
  width: 140px;
  height: 45px;
  font-weight: 600;
  color: white;
  background-color: rgb(54, 54, 54);
  border: 3px solid red;
  box-shadow: 0px 8px 15px rgb(68, 55, 40);
  cursor: pointer;
  outline: none;
}
@media (min-width: 1024px) {
  .box-button button {
    margin-left: 30px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .box-button button {
    margin-left: 60px;
  }
}

/*# sourceMappingURL=styles.css.map */
