.button {
    width: 140px;
    height: 45px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(46, 46, 46);
    background-color: red;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    @include desktop() {

        &:hover {
            background-color: #f9e806;
            box-shadow: 0px 15px 20px;
            transform: translateY(-5px);
        }
    }
}

.container-info {
    .button {

        width: 140px;
        height: 45px;
        font-weight: 600;
        color: white;
        background-color: red;
        border: none;
        border-radius: 45px;
        cursor: pointer;
        outline: none;

    }
}

.box-button button {

    @include desktop() {
        margin-left: 30px;




    }

    @include tablet() {
        margin-left: 60px;

    }

    margin-left: 5px;
    margin-bottom: 30px;
    width: 140px;
    height: 45px;
    font-weight: 600;
    color: white;
    background-color: rgb(54, 54, 54);
    border: 3px solid red;
    box-shadow: 0px 8px 15px rgb(68, 55, 40);
    cursor: pointer;
    outline: none;


}