// ========== Footer ========== //

.footer {
    background-color: rgb(49, 49, 49);
    color: white;

    h2 {
        @include desktop() {
            text-align: start;
        }

        text-align: center;
        padding: 10px;
        font-weight: 700;
    }

    h3 {

        font-weight: 700;
    }

    h3,
    p {
        text-align: center;
    }

    p {
        font-size: .8rem;
    }

    @include desktop() {


        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        &-row {
            flex-basis: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;



        }

        &-column {
            flex: 1;
            margin-right: 20px;


            h2 {
                margin-left: 20px;
                font-weight: 700;
            }

            h3 {

                font-weight: 700;
            }

            h3,
            p {


                text-align: center;
            }

            p {
                font-size: .8rem;

            }
        }

        .footer-column:last-child {
            margin-right: 0;
        }

    }

    &-subscribe {

        text-align: center;

        @include tablet() {
            margin-top: 30px;
        }

        .subscribe {

            margin-top: 10px;
            width: 140px;
            height: 35px;
            font-weight: 600;
            color: white;
            background-color: red;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            outline: none;
        }

        input {
            width: 300px;
            padding: 5px;
            border: 2px solid #ccc;
            border-radius: 5px;
        }

    }

    hr {
        color: rgb(109, 109, 109);

    }

    &-owner {

        span {
            font-size: 1rem
        }


        @include desktop() {
            @include flex-center();
            justify-content: space-evenly;
        }
    }

    .creator {
        color: #f9e806;
        font-weight: 700;

    }



}


.whatsapp-float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    z-index: 100;
    display: block;

    @include desktop() {
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        font-size: 24px;
    }

    svg {
        @include desktop() {
            margin-top: 7px;
            width: 40px;
        }

        width: 35px;
        margin-top: 3px;

    }
}